* {
    font-family: Arial, Helvetica, "sans-serif";
    color: powderblue;

}
p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}
body {
    background-image: url(../imgs/minimalism-cat-funny-digital-art-artwork-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

.header {

    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 200px;
    height: 15px;
    border: 2px solid powderblue;
    border-radius: 15px;

}

.html-css {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_html-css 1s forwards;
}

.cpp {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_cpp 1s forwards;
}

.c {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_c 1s forwards;
}

.container {
    width: 600px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: powderblue;
}

.main {
    color: powderblue;
}

@keyframes load_html-css {
    from {
        width: 0
    }

    to {
        width: 150px;
    }
}

@keyframes load_cpp {
    from {
        width: 0
    }

    to {
        width: 50px;
    }
}

@keyframes load_c {
    from {
        width: 0
    }

    to {
        width: 50px;
    }
}
header {
    text-align: center;
}
.transforms {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.transform {
    width: 450px;
    text-align: center;
}

.transform img {
    width: 100%;
    height: auto;
}