* {
    font-family: Arial, Helvetica, "sans-serif";
    color: lightslategrey;

}

body {
    background-image: url(../imgs/minimalism-cat-funny-digital-art-artwork-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.header {

    display: flex;
    justify-content: space-between;
}

.skill__bar {
    width: 200px;
    height: 15px;
    border: 2px solid powderblue;
    border-radius: 15px;

}

.html-css {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_html-css 1s forwards;
}

.cpp {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_cpp 1s forwards;
}

.c {
    background-color: powderblue;
    height: 100%;
    border-radius: 15px;
    animation: load_c 1s forwards;
}

.container {
    width: 600px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content__right {}

a {
    text-decoration: none;
    color: lightslategrey;
}

.main {
    color: powderblue;
}

@keyframes load_html-css {
    from {
        width: 0
    }

    to {
        width: 150px;
    }
}
@keyframes load_cpp {
    from {
        width: 0
    }

    to {
        width: 50px;
    }
}
@keyframes load_c {
    from {
        width: 0
    }

    to {
        width: 50px;
    }
}